name: Monitor Coppe

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Run script
      run: |
        pip install requests beautifulsoup4
        python monitor.py

    - name: Commit changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add storico_coppe.csv
        git commit -m "Aggiornamento automatico" || echo "Nessuna modifica"
        git push
